@import "../abstract/variables";
@import "../utilities/utilities";
@import "../base/base";
.header {
  background-image: url(../../images/blue3.jpg);
  background-size: cover;
  &__text {
    text-align: center;
    &-primary {
      text-transform: uppercase;
      color: $color-white;
      letter-spacing: 0.5rem;
      transition: all 0.3s ease-out;
      display: inline-block;
      font-weight: 100;
      &:hover {
        transform: skewY(8deg) skewX(-3deg) translateY(-2px);
        text-shadow: 0 1rem 2rem $color-black;
      }
    }
  }
}
.header__box {
  .card__gruop {
    width: 100%;
    height: auto;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary-dark, 0.7)
      ),
      url(../../images/blue1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    justify-content: space-evenly;
    .card {
      perspective: 140rem;
      transition: all 0.3s;
      background-color: transparent;
      width: 25rem;
      height: 30rem;
      &:nth-child(2) {
        & > .card__side-cover {
          background-image: url(../../images/b5.jpg);
        }
        & > .card__side-profile {
          background-image: url(../../images/b3.jpg);
        }
      }
      &:nth-child(3) {
        & > .card__side-cover {
          background-image: url(../../images/b3.jpg);
        }
      }
      &__side {
        height: 30rem;
        width: 25rem;
        transition: all 0.8s;
        backface-visibility: hidden;
        border-radius: 1rem;
        position: absolute;
        box-shadow: 0rem 0rem 3px $color-text;
        &-cover {
          background-image: url(../../images/b1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 60% center;
          & span {
            display: inline-block;
            font-size: 2rem;
            line-height: 20rem;
            color:$color-white; 
            font-family: 华文行楷;
          }
        }
        &-profile {
          background-image: url(../../images/background.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 70% center;
          transform: rotateY(-180deg);
          height: auto;

          background-color: $color-white;
          & ul {
            text-align: center;
            width: 100%;
            & p.hometown {
              letter-spacing: 0.5rem;
              line-height: 2rem;
              text-align: justify;
              padding: 2rem;
            }
            & li {
              list-style: none;
              margin: 0 auto;
              color: $color-white;
              padding: 1.5rem 5rem;
              width: 100%;
              letter-spacing: 2px;
              text-align: start;
              p {
                letter-spacing: 2px;
                line-height: 2rem;
                width: 100%;
                text-align: start;
                span {
                  display: block;
                  width: 100%;
                  border-bottom: 1px dashed rgba($color-text, 0.7);
                  padding: 1rem 0;
                }
              }

              &:not(:last-child) {
                border-bottom: 1px dashed rgba($color-text, 0.4);
                margin-bottom: 1rem;
              }
            }
          }
        }
      }

      &:hover .card__side-profile {
        transform: rotateY(0);
      }
      &:hover .card__side-cover {
        transform: rotateY(180deg);
      }
    }
  }
}
footer {
  width: 100%;
  padding: 1.5rem;
  background-image: url(../../images/blue3.jpg);
  h3 {
    text-align: center;
  }
  div.hometown__detail {
    letter-spacing: 0.5rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
  .header__box {
    .card__gruop {
      height: auto;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card {
        transform: translateX(-50%);
        margin: 10rem 0;
        &__side-cover {
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }

      .card__side-profile {
        width: 50rem;
        z-index: 999;
        transform: rotate(0);
        backface-visibility: visible;
        margin: 0 auto;
      }
    }
  }
}
